.opacidad {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
}
.derecha {
  margin-left: 2px;
}
#sidenav-overlay {
  z-index: -1;
}
.btn-tarjeta {
  background-color: transparent;
  color: #d50000;
  border: solid 1px;
}
.btn-tarjeta:hover {
  background-color: #ff5252;
  border: none;
  color: white;
}
.cv {
  width: 260px;
  background-color: #006ef1;
}
span {
  color: #ff5252;
}
.azul:hover {
  background-color: #ff5252;
}
.red-footer {
  color: #ff5252 !important;
}
.brand-logo {
  font-family: "Pattaya", sans-serif;
}
.letra {
  font-family: "Pattaya", sans-serif;
}
hr.separador_post {
  height: 30px;
  border-style: solid;
  border-color: #bfbfbf;
  border-width: 2px 0 0 0;
  text-align: center;
}
.icon-about {
  width: 50%;
}
.margintop-3 {
  margin-top: 24px;
}

.list-border {
  border-color: #ff5252;
}
.collection .collection-item {
  border-bottom: #ff5252 1px solid;
}
i {
  color: #d50000;
}
