

.opacidad{
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;


}
.derecha{
  margin-left: 10px;
}
#sidenav-overlay {
  z-index: -1;
}
.btn-tarjeta{
	background-color: transparent;
	color: #006EF1;
	border-style: solid  ;
	border-radius: 5px;
}
.btn-tarjeta:hover{
	background-color: #81b3ef;

}
.cv{
	width: 260px;
	background-color: #006EF1;

}
span{
	color: #006EF1;
}
.azul:hover{
	background-color:#006EF1; 
}
.azul-footer:hover{
	color:#006EF1 !important; 
}
.brand-logo{
	font-family: 'Pattaya', sans-serif;
}
hr.separador_post { 
 height: 30px;
 border-style: solid;
 border-color: #BFBFBF;
 border-width: 2px 0 0 0;
 border-radius: 20px;
 text-align: center;
}

hr.separador_post:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    -webkit-border-radius:20px;
       -moz-border-radius:20px;
            border-radius:20px;
}

hr.separador_post:after {
    content: '★';
    color: #006EF1;
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}